*{
    box-sizing: border-box;
}
body{
    background-color: blue;
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
}
.container{
    width: 520px;
    background-color: white;
    height: auto;
    min-height: 100px;
    margin: 100px auto;
    border-radius: 5px;
}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    float: none;
    display: block;
}
.base h4{
    background: rgb(17, 15, 30);
    color: white;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}
.box{
    width: 130px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}
.title{
    text-align: center;
    color: black;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: sans-serif;
    word-spacing: 2.7px;
}
input[type=text]{
    width: 140px;
    background-color: rgb(183, 209, 255);
    padding: 13px;
    margin: auto;
    min-height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color: black;
    outline: none;
}
input[type=text]: focus{
    outline:none;
}
input[type=button]{
    width: 150px;
    text-align: center;
    margin-left: 35%;
    margin-top: 40px;
    outline: none;
    border: none;
    background: rgb(72, 112, 255);
    padding: 14px 16px;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
input[type=button] :hover{
    background-color: rgb(61, 19, 247);
}
#age{
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    display: block;
    margin-top: 30px;
    color: rgb(110, 66, 255);
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 3.3;
    font-weight: bold;
}
